beautifulsoup4
brotlipy
bs4
certifi
cffi
chardet
click
cryptography
Cython==0.29.22
Flask==1.1.2
idna==2.5
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
numpy
pandas
pycparser
pyOpenSSL
PySocks
pyTelegramBotAPI
python-dateutil
pytz
requests
selenium
six
soupsieve
tabulate
telebot
urllib3
vedis
Werkzeug
win-inet-pton
wincertstore